<div class="message">
  <span class="timestamp">
    [<%= message.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%I:%M %p') %>]
  </span>
  <span class="author"><%= message.user.username %></span>:
  <%= message.content %>
</div>
