.container {
  width: 710px;
}

header {
  padding-top: 20px;
}

header h1 {
  font-size: 4em;
  font-weight: bold;
  color: #999;
}

footer {
  width: 80%;
  text-align: center;
  margin: 30px auto 0 auto;
  padding-top: 5px;
  border-top: 1px solid #ccc;
}

h2, p {
  margin-bottom: 8px;
}

.flash {
  border-radius: 5px;
}

/* Panes */

.pane {
  padding: 5px;
  margin-bottom: 8px;
  border: 1px solid #ee3;
  border-radius: 5px;
}

.scroll {
  overflow-y: scroll;
  word-wrap: break-word;
}

#lobby, #board {
  width: 500px;
}

#sidebar {
  width: 190px;
  float: right;
}

#sidebar h2 {
  color: #999;
  font-size: 1.5em;
  line-height: 1;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

#status_pane .status,
#status_pane .color {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 8px 0;
}

#status_pane .color {
  border-top: 2px solid #ddd;
}

#lobby #messages {
  height: 450px;
}

#sidebar #messages {
  height: 350px;
}

#users {
  height: 250px;
}

.message .timestamp {
  color: #ccc;
}

.message .author {
  font-weight: bold;
}

.user {
  line-height: 1.75;
}

.user .username {
  font-weight: bold;
  margin-right: 0.5em;
}

.stats {
  color: #999;
  font-weight: bold;
}

.stats .wins {
  color: #3a3;
}

.stats .losses {
  color: #c33;
}

/* Buttons */

.button, nav ul li a {
  font-weight: bold;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 5px;
}

.button.normal, nav ul li a {
  margin: 0 4px;
  border: 1px solid #ee3;
}

.button.inverse {
  color: white;
  border: none;
}

.button.inverse:hover {
  opacity: 0.75;
}

.button.inverse.green {
  background-color: #3a3;
}

.button.inverse.blue {
  background-color: #36e;
}

.button.inverse.red {
  background-color: #c33;
}

.button.inverse.yellow {
  background-color: #ee3;
}

.button.blank {
  color: #ccc;
  background-color: #ccc;
}

/* Navigation */

nav {
  float: right;
  padding: 0 0.7em;
  white-space: nowrap;
  line-height: 4em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

/* Forms */

div.field, div.actions {
  margin-bottom: 10px;
}

form.new_message {
  display: table;
  width: 100%;
}

form.new_message .field,
form.new_message .actions {
  display: table-cell;
}

form.new_message .field {
  width: 100%;
}

#lobby form.new_message .field input {
  width: 99%;
}

#sidebar form.new_message .field input {
  width: 95%;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0 -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul {
  margin-bottom: 0;
  margin-top: 12px;
}

#error_explanation ul li {
  list-style: square;
}
