<div id="messages" class="scroll">
  <%= render @messages %>
</div>
<%= form_for @message, :remote => true do |f| %>
  <div class="field">
    <%= f.text_field :content, :maxlength => 250, :size => nil %>
  </div>
  <div class="actions">
    <%= f.submit 'Send' %>
  </div>
<% end %>
