<p>Welcome! You are not signed in. To play,
<%= link_to 'Sign In', signin_path, :class => 'inverse button blue' %>
with an existing account or
<%= link_to 'Sign Up', signup_path, :class => 'inverse button green' %>
for a new account.</p>

<div id="front_pane" class="pane">
  <h2>Browser Support</h2>
  <p>Clobber on Rails requires at least <b>Internet Explorer 9</b>, <b>Firefox 4.0</b>, <b>Chrome 8</b>, <b>Safari 6.0</b>, or <b>Opera 12.0</b>. Note that the latter two have not yet been released as of June 2011. In addition, JavaScript must be enabled.</p>
</div>
