<% if signed_in? %>
  <!-- Render forms for creating stuff, etc. -->
<% else %>
  <h1>Clobber on Rails</h1>

  <p>There isn't really anything here yet.</p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
