<div id="incoming_pane" class="pane">
  <h2>Incoming Challenge</h2>
  <p><%= incoming.user.username %> has challenged you!</p>
  <p>
    <%= link_to 'Accept', incoming, :method => :delete, :class => 'inverse button green' %>
    <%= link_to 'Decline', incoming, :method => :delete, :class => 'inverse button red' %>
  </p>
</div>
