<footer>
  Created by <a href="http://grantovich.net/">Grantovich</a>
  &ndash; Source on <a href="https://github.com/grantovich/Clobber-on-Rails">GitHub</a>
  &ndash; Powered by <a href="http://rubyonrails.org/">Ruby on Rails</a>
  &ndash; Hosted on <a href="http://heroku.com/">Heroku</a>
</footer>
